<html>
<head>
    
</head>

<body>

    <h2>Список клиентов</h2>
    <p>Просмотр списка клиентов Barber Shop</p>

	<div class="bs-example" data-example-id="bordered-table">
	    <table class="table table-bordered">
	      
	      <thead>
	        <tr>
	          <th>Имя</th>
			  <th>Телефон</th>
			  <th>Дата записи</th>
			  <th>Парикмахер</th>
			  <th>Цвет</th>
	        </tr>
	      </thead>
	      
	      <tbody>
	      	<% @result.each do |row| %>
	        <tr>
	          <td><%= row['user_name'] %></td>
	          <td><%= row['phone'] %></td>
	          <td><%= row['data_time'] %></td>
	          <td><%= row['barber'] %></td>
	          <td style="background-color: <%= row['color'] %>"><%= row['color'] %></td>
	        </tr>
	        <% end %>
	      </tbody>

	    </table>
	  </div>
	
</body>
</html>
